.place__paragraph {
  font-size: 18px;
  line-height: 1.63;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 780px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 740px) {
  .place__paragraph {
    margin-right: 16px;
    margin-left: 16px;
  }
}
